body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #e30613; /* Ferrari Red */
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: white;
}

.modelsImages{
    margin: 20 0 0 50%;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #e30613;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
